src/META-INF/wsdl/localhost_8080/gamesnetworksoap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Server.GamesNetworkSoap.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Server.GamesNetworkSoap.ws/" name="GamesNetworkService">
<types>
<xsd:schema>
<xsd:import namespace="http://Server.GamesNetworkSoap.ws/" schemaLocation="http://localhost:8080/gamesnetworksoap?xsd=1"/>
</xsd:schema>
</types>
<message name="CreateUser">
<part name="parameters" element="tns:CreateUser"/>
</message>
<message name="CreateUserResponse">
<part name="parameters" element="tns:CreateUserResponse"/>
</message>
<message name="UnauthorizedException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="InternalErrorException">
<part name="fault" element="tns:UnauthorizedException"/>
</message>
<message name="ConnectionException">
<part name="fault" element="tns:ConnectionException"/>
</message>
<message name="DeleteUser">
<part name="parameters" element="tns:DeleteUser"/>
</message>
<message name="DeleteUserResponse">
<part name="parameters" element="tns:DeleteUserResponse"/>
</message>
<message name="UpdateUser">
<part name="parameters" element="tns:UpdateUser"/>
</message>
<message name="UpdateUserResponse">
<part name="parameters" element="tns:UpdateUserResponse"/>
</message>
<message name="GetUser">
<part name="parameters" element="tns:GetUser"/>
</message>
<message name="GetUserResponse">
<part name="parameters" element="tns:GetUserResponse"/>
</message>
<message name="Loggin">
<part name="parameters" element="tns:Loggin"/>
</message>
<message name="LogginResponse">
<part name="parameters" element="tns:LogginResponse"/>
</message>
<message name="isAuthenticated">
<part name="parameters" element="tns:isAuthenticated"/>
</message>
<message name="isAuthenticatedResponse">
<part name="parameters" element="tns:isAuthenticatedResponse"/>
</message>
<message name="Logout">
<part name="parameters" element="tns:Logout"/>
</message>
<message name="LogoutResponse">
<part name="parameters" element="tns:LogoutResponse"/>
</message>
<message name="GetUsers">
<part name="parameters" element="tns:GetUsers"/>
</message>
<message name="GetUsersResponse">
<part name="parameters" element="tns:GetUsersResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<portType name="IGamesNetwork">
<operation name="CreateUser">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/CreateUserRequest" message="tns:CreateUser"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/CreateUserResponse" message="tns:CreateUserResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/CreateUser/Fault/UnauthorizedException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/CreateUser/Fault/InternalErrorException"/>
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/CreateUser/Fault/ConnectionException"/>
</operation>
<operation name="DeleteUser">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/DeleteUserRequest" message="tns:DeleteUser"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/DeleteUserResponse" message="tns:DeleteUserResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/DeleteUser/Fault/UnauthorizedException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/DeleteUser/Fault/InternalErrorException"/>
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/DeleteUser/Fault/ConnectionException"/>
</operation>
<operation name="UpdateUser">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/UpdateUserRequest" message="tns:UpdateUser"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/UpdateUserResponse" message="tns:UpdateUserResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/UpdateUser/Fault/UnauthorizedException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/UpdateUser/Fault/InternalErrorException"/>
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/UpdateUser/Fault/ConnectionException"/>
</operation>
<operation name="GetUser">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUserRequest" message="tns:GetUser"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUserResponse" message="tns:GetUserResponse"/>
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUser/Fault/ConnectionException"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUser/Fault/UnauthorizedException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUser/Fault/InternalErrorException"/>
</operation>
<operation name="Loggin">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/LogginRequest" message="tns:Loggin"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/LogginResponse" message="tns:LogginResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/Loggin/Fault/UnauthorizedException"/>
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/Loggin/Fault/ConnectionException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/Loggin/Fault/InternalErrorException"/>
</operation>
<operation name="isAuthenticated">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/isAuthenticatedRequest" message="tns:isAuthenticated"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/isAuthenticatedResponse" message="tns:isAuthenticatedResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/isAuthenticated/Fault/UnauthorizedException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/isAuthenticated/Fault/InternalErrorException"/>
</operation>
<operation name="Logout">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/LogoutRequest" message="tns:Logout"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/LogoutResponse" message="tns:LogoutResponse"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/Logout/Fault/InternalErrorException"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/Logout/Fault/UnauthorizedException"/>
</operation>
<operation name="GetUsers">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUsersRequest" message="tns:GetUsers"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUsersResponse" message="tns:GetUsersResponse"/>
<fault message="tns:UnauthorizedException" name="UnauthorizedException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUsers/Fault/UnauthorizedException"/>
<fault message="tns:InternalErrorException" name="InternalErrorException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUsers/Fault/InternalErrorException"/>
<fault message="tns:ConnectionException" name="ConnectionException" wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/GetUsers/Fault/ConnectionException"/>
</operation>
<operation name="add">
<input wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/addRequest" message="tns:add"/>
<output wsam:Action="http://Server.GamesNetworkSoap.ws/IGamesNetwork/addResponse" message="tns:addResponse"/>
</operation>
</portType>
<binding name="GamesNetworkPortBinding" type="tns:IGamesNetwork">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="CreateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal"/>
</fault>
</operation>
<operation name="DeleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal"/>
</fault>
</operation>
<operation name="UpdateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal"/>
</fault>
</operation>
<operation name="GetUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal"/>
</fault>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
</operation>
<operation name="Loggin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
</operation>
<operation name="isAuthenticated">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
</operation>
<operation name="Logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
</operation>
<operation name="GetUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UnauthorizedException">
<soap:fault name="UnauthorizedException" use="literal"/>
</fault>
<fault name="InternalErrorException">
<soap:fault name="InternalErrorException" use="literal"/>
</fault>
<fault name="ConnectionException">
<soap:fault name="ConnectionException" use="literal"/>
</fault>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GamesNetworkService">
<port name="GamesNetworkPort" binding="tns:GamesNetworkPortBinding">
<soap:address location="http://localhost:8080/gamesnetworksoap"/>
</port>
</service>
</definitions>